@import "settings";
@import "foundation";
.main {
	padding-top: 32px;
	min-height: 320px;
}
body {
	background: url("https://lk.namn.ru/skins/my/images/b-header_bg.gif") repeat-x;
}
.main .row {
	background: rgba(240, 240, 255, 1);
	border-radius: 12px;
	padding: 12px;
	border-color: #ddf;
	border-radius: 12px;
	border-style: solid;
	border-width: 5px 3px 2px 5px;
	padding: 12px;
}
